img {
    width: 100%
}

.indhold {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

article {
    border: 1px solid black;
    padding: 5px;
    margin: 35px;
}

h1 {
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    margin: 35px;

}

footer {
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    margin: 35px;
}

.boxshadow {
    box-shadow: 34px 14px 9px -4px rgba(0,0,0,0.47);
}
